@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*estilos iniciales*/

section {
  width: 100%;
  padding: 2rem;
}

.heading h2 {
  font-size: 2rem;
  color: #f50057;
  text-transform: uppercase;
  margin: .5rem;
  padding: .5rem;
  text-align: center;
}

body{
  font-family: 'Poppins', sans-serif;
}

/*Header*/
header {
  width: 100%;
  height: 100vh;
}

nav{
  background-color: #fff;
  width: 100%;
  height: 90px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-nav{
  color: #130B43;
  border: 1.5px solid #130B43;
  border-radius: 7px;
  padding: 5px 8px;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-list{
  list-style: none;
  display: none;
}

.hamburger{
  display: block;
  cursor: pointer;
}

.hamburger-item{
  width: 30px;
  height: 3px;
  background-color: #130B43;
  margin: 7px 0;
  /*transition: all 0.3s ease;*/
}

.welcome-section{
  text-align: center;
}

/*About me*/

.about-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me-description{
  text-align: center;
  font-size: 1rem;
}

.about-me-img img {
  width: 100%;
}

/*my projects section*/
.my-projects-section{
  background-color: rgba(16, 29, 44, 0.95);
  text-align: center;
}

.projects-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.card-cover img{
  width: 100%;
  cursor: pointer;
}

.card-content{
  color: white;
  text-transform: uppercase;
}

.badges{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.badge{
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
}

.badge-html{
  background-color: #ff8533;
}

.badge-css{
  background-color: #3385ff;
}

.badge-javascript{
  background-color: #ffff33;
  color: black;
}

.badge-bootstrap{
  background-color: #7952b3;
  color: white;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content{
  width: 100%;
}

.close{
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

/*skills-section*/

.skill-container{
  display: flex;
  flex-direction: column;
}

.container-progress-bar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.progress-bar-desc{
  text-align: center;
}

.progress-item{
  margin: 5px;
}

.progress-bar{
  width: 100%;
  height: 10px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 9999px;
}

.bar{
  border-radius: 9999px;
  height: 10px;
}

.bar-html{
  background-color: #ff8533;
  width: 90%;
}

.bar-css{
  background-color: #3385ff;
  width: 83%;
}

.bar-javascript{
  background-color: #ffff33;
  width: 80%;
}

.bar-bootstrap{
  background-color: #7952b3;
  width: 70%;
}

.bar-csharp{
  background-color: #8661c5;
  width: 80%;
}

.bar-php{
  background-color: #ff2d20;
  width: 60%;
}

.bar-sql{
  background-color: #635e5e;
  width: 82%;
}

.bar-react{
  background-color: #61dafb;
  width: 30%;
}

.bar-git{
  background-color: #f34c26;
  width: 50%;
}

/*footer*/

footer{
  background-color: rgba(16, 29, 44, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  padding: 1rem;
}

.footer-item{
  margin: 5px 0;
}

.social a{
  text-decoration: none;
  color: white;
}

.social i{
  font-size: 2.5rem;
}

.copy-right{
  font-size: 12px;
}

/*media queries*/

@media (min-width: 576px) { 

  /*general css*/
  

}

@media (min-width: 768px) { 

  /*general css*/
  .about-container{
    flex-direction: row;
  }

  /*about me section*/
  .about-me-description{
    text-align: justify;
    width: 100%;
  }

  /*projects section*/

  .projects-container{
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card{
    width: 250px;
    margin: 10px 10px;
  }
  /*image*/  
  .modal-content{
    width: 90%;
  }

  /*skills section*/

  .container-progress-bar{
    display: flex;
    flex-direction: row;
  }

  .progress-bar-desc{
    font-size: 20px;
    width: 100%;
  }

  .progress-bar{
    width: 100%;
    height: 15px;
  }

  .bar{
    height: 15px;
  }

}

@media (min-width: 1200px) { 

  /*general css*/

  .heading h2{
    font-size: 3rem;
  }
  
  /*about me section*/
  .about-me-section{
    min-height: 100vh;
  }

  .about-me-description .heading h2{
    text-align: justify;
  }

  .about-me-description{
    font-size: 20px;

  }

    /*projects section*/
  
    .card{
      width: 400px;
      margin: 10px 10px;
    }
    /*image*/  
    .modal-content{
      width: 80%;
    }
  

}